/* 기본 브라우저 스타일 초기화 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial,sans-serif; /* 기본 폰트 설정 상의후 변경 */
    background-color: #ffffff; /* 전체 배경색 설정 */
    line-height: 1.6; /* 줄 간격 설정 */
}

button{
    cursor: pointer; /* 버튼 클릭 시 커서 모양 변경 */
}

