#root {
    width: 100%;
    /* 이것이 있어야 전체 요소가 중앙에 배치됨. */
    min-height: 100vh;
    /* root를 손볼 때, 이런 세로로 긴 페이지 에선 일단 넣어둘 필요가 있음 */
    display: flex;
    flex-direction: column;
    
    padding: 0px;
    /* padding의 설정은 상담 후 조정. */
    box-sizing: border-box;
    /* padding이 width, height에 포함되도록 한다. */
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: azure;
    color: #2C2C2C;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main_content_wrapper {
    display: flex;
    flex-direction: column;
    /* 요소의 세로 정렬 */
    align-items: center; 
    /* 세로 정렬된 요소를 가로 중앙 정렬 */

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    padding: 15px;
    /* 페이지 단위 지정사항을 이곳에서 조정 */
}